body{
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Outfit, sans-serif;
    min-height: 100vh;
}

article{
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    max-width:375px;
    border-radius: 20px;
    padding:20px;
    text-align: center;
}

.qr-code{
    width: 100%;
    border-radius: 20px;
    display:block;
}

p{
    color:hsl(216, 15%, 48%);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
}
h2{
    color:hsl(218, 44%, 22%);
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}

article:hover {
    transform: translateY(-5px);
}

@media (min-width: 768px) {
    article {
        width: 1440px;
    }
}